* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: url('./img/palu.png'), auto;
}

*:active {
    cursor: url('./img/palu-getok.png'), auto;
}

body {
    background-color: rgb(255, 230, 183);
}

div.tmb-skor {
    width: fit-content;
    margin: 25px auto auto auto;
}

button {
    display: block;
    padding: 5px;
    font-size: 16pt;
}

h1 {
    text-align: center;
    font-size: 36pt;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 50px auto;
    width: fit-content;
}

div.lubang {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 20px;
}

div.tikus {
    background-image: url('./img/groundhog.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    width: 200px;
    position: relative;
    right: 25px;
    top: 150px;
    transition: 0.2s;
}

div.keluar {
    top: 15px;
}

@media (min-width: 360px) and (min-height: 800px) and (orientation: portrait) {
    button {
        display: block;
        padding: 5px;
        font-size: 22pt;
    }
    
    h1 {
        text-align: center;
        font-size: 48pt;
    }

    div.container {
        grid-template-columns: 1fr 1fr;
    }

    div.lubang {
        height: 250px;
        width: 250px;
        margin: 0px 10px;
    }

    div.tikus {
        height: 300px;
        width: 300px;
        top: 250px;
    }

    div.keluar {
        top: 45px;
    }
}